#single-equipment-body {
    margin: 0;
    width: 100%;
}

#equipment-content-container {
    padding: calc(32px + 1.5vw);
    min-height: 30vw;
    color: var(--UMblue);
}

#equipment-content-title {
    padding: 0 10%;
    font-size: calc(22px + 2vw);
    padding-bottom: 10px;
    width: 75%;
}

#equipment-content-date {
    width: 300px;
    padding-bottom: 10px;
    font-size: 2em;
    border-bottom: 2px solid var(--maize);
}

#equipment-content {
    font-size: calc(16px + .5vw);
    padding: 0 10%;
    color: black;
}

a:hover {
    color: blue;
}