
#subhome-body{
    margin:0;
    
}
#subBanner{
    display:flex; 
    flex-wrap:wrap;
    padding-top:100px;
}

#vid-container{
    flex: .55 1 10rem;
    min-width:350px; 
    max-width: 100%; 
}
#embeded-vid{
    position: relative;
    left:50%;
    top:50%;
    height:85%;
    transform: translateX(-50%) translateY(-50%);
    object-fit:cover;
    width:90%;
}
/*Mission Statement and Service Highlight*/
#mission-statement{
    background-color:var(--UMblue);
    color:white;
    text-align:center;
  
    padding: 1vw 4vw;
    height:auto;

    flex: 1 1 10rem;
    min-width:300px; 
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

#mission-statement h1{
    font-size:calc(12px + 1.0vw);
    color:var(--maize);
}
#mission-statement h2{
    font-size:calc(10px + .8vw);
}
#mission-statement a{
    text-decoration: none;
    color:var(--maize);
    transition:.5s;
    
}
#mission-statement a:hover{
    cursor:pointer;
    color:var(--light-blue);
    
}

#lab-thumbnail{
    position: relative;
    left:50%;
    top:50%;
    height:85%;
    max-height:350px;
    transform: translateX(-50%) translateY(-50%);
    object-fit:contain;
    width:90%;
    }

#services{
    display:flex; 
    flex-wrap: wrap;
    flex-direction: row;
}

.service{
    position:relative;
    min-width: 300px; 
    min-height:200px;
    flex:  1 1 10rem;
    color : var(--UMblue);
}

 .service i{
     transition: .4s; 
     position:absolute;
     top:50%;
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size:calc(32px + 1vw);
     padding:calc(12px + 1vw);

     border-right:5px solid var(--maize);
 }
 .service h1{
     position: absolute;
     left:50%;
     top:50%; 
     margin:0;
     width:60%;
     
     padding-left: calc(32px + 4vw);
     
     transform: translateY(-50%) translateX(-50%);
  }

 .service:hover{
     
     color:white;
     background-color: var(--UMblue);
     cursor:pointer;
     transition:.4s;
 }

 


  /*Recent News*/
  .recentNews {
    padding: 16px 64px;
    height:auto;
     background-color: var(--UMblue);
     
 }
 .recentNews .news-title {
     text-align:center;
     padding-top:16px;
     padding-bottom:16px;
     font-size:52px;
     font-weight:bold;
     width:100%;
     color: var(--maize);
 }
 .recentNews .row {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     margin-bottom: 50px;
  
 }
 .recentNews .ct-blog {
     margin-bottom: 10px;
 }
 .ct-blog .inner {
     background-color: rgba(255,255,255,.8);
     padding: 10px;
     transition: all 0.2s ease-in-out 0s;
     cursor: pointer;
     height: 90%;
     width:500px;
     border-radius: 5%;
 }
 .ct-blog .inner:hover {
     opacity: .95;
     box-shadow: 5px 5px 3px 1px var(--maize);
     
 }
 .ct-blog .fauxcrop {
     height: 180px;
     overflow: hidden;
 }
 .ct-blog .fauxcrop img {
     width:100%;
     height:100%;
     border-radius:5%;
     object-fit: cover;
 }
 .ct-blog-content {
     display: table;
     padding: 30px 0 28px;
 }
 .ct-blog-content .ct-blog-date {
     border-right: 1px solid var(--maize);
     display: table-cell;
     padding: 0px 18px 0px 15px;
     text-align: center;
 }
 .ct-blog-content .ct-blog-date span {
     font-size: 16px;
     color: var(--UMblue); 
     font-weight: 700;
     display: block;
     line-height: 1;
 }
 .ct-blog-content .ct-blog-date strong {
     font-size: 25px;
     color:  var(--UMblue);  
 }
 .ct-blog-content .ct-blog-header {
     color: #000;
     display: table-cell;
     font-size: 22px;
     font-weight: 700;
     letter-spacing: -0.2px;
     line-height: 1.1;
     padding: 0 20px;
     vertical-align: top;
 }
 .btn-news {
     color: #333;
     font-size: 14px;
     font-weight: bold;
     padding-bottom: 30px;
     text-align: center;
 }
 .btn-news.btn-contests a {
     color: #fff;
     font-size: 24px;
     transition: all 0.2s ease-in-out 0s;
 }
 .btn-news.btn-contests a:hover {
     color: var(--maize);
 }


/*General Contact Info*/
#additional-quicklinks{
    height:auto;
    background-color:var(--light-blue);
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    position:relative;
    padding: 2vw 1.5vw;
}

.info{
text-align: center;
width:100%;
padding: 32px 0px;
}
.info i{
    color: var(--UMblue);
    font-size:5em;
}
.info h1{
    color: white;
    font-size:2em;
    transition:.4s;
}
.info h1:hover{
    cursor:pointer; 
    color:var(--maize);
    text-decoration: underline;
}
.info a {
    text-decoration: none;;
}



  /*Screen Size adjustment*/
  @media(max-width:1500px){
    #logo-bottom{
        height:45%;
    }
    #contact-form input, textarea{
        height:35px;
       
    }
    #contact{
        text-align: center;
        transform:translateY(25%);
    }
  }
@media(max-width:720px){
    #general-contact-container{
       
        grid-template-columns:repeat(auto-fit, minmax(600px, 1fr));
      
    }
    #vid-container{
        width:100%;
        flex:none;
        padding:5px 0px;
    }
    #subBanner{
        height:auto;
        
    }
    .service h1{
        left: 60%;
    }
    
}

@media(max-width:1000px){
    #general-contact-container{
       
        grid-template-columns:repeat(auto-fit, minmax(600px, 1fr));
      
    }
    #vid-container{
        padding:5px 0px;
    }


    @media(max-width: 600px){

        #SubBanner{
            padding-top: 50px;
        }
    }

}